force-app/main/default/flows/Data_Mask_Compliance_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Masked_Compliance_Fields</name>
        <label>Check Masked Compliance Fields</label>
        <locationX>664</locationX>
        <locationY>143</locationY>
        <actionName>RC_DataMaskComplianceInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Initiated</targetReference>
        </connector>
    </actionCalls>
    <actionCalls>
        <name>Clear_Data_Mask_Compliance_Reports</name>
        <label>Clear Data Mask Compliance Reports</label>
        <locationX>671</locationX>
        <locationY>354</locationY>
        <actionName>RC_DataMaskDeleteComplianceInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Cleared</targetReference>
        </connector>
    </actionCalls>
    <choices>
        <name>ClearAllComplianceReports</name>
        <choiceText>Clear All Compliance Reports</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ClearAllComplianceReports</stringValue>
        </value>
    </choices>
    <choices>
        <name>RunDataMaskComplianceCheck</name>
        <choiceText>Run Data Mask Compliance Check</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RunDataMaskComplianceCheck</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Action</name>
        <label>Action?</label>
        <locationX>391</locationX>
        <locationY>223</locationY>
        <defaultConnector>
            <targetReference>Check_Masked_Compliance_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Run Compliance Check</defaultConnectorLabel>
        <rules>
            <name>outcome_ClearAllComplianceReports</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkboxGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClearAllComplianceReports</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Data_Mask_Compliance_Reports</targetReference>
            </connector>
            <label>Clear Compliance Reports</label>
        </rules>
    </decisions>
    <interviewLabel>Data Mask Compliance Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Mask Compliance Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Choose_Action</name>
        <label>Choose Action</label>
        <locationX>399</locationX>
        <locationY>75</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Action</targetReference>
        </connector>
        <fields>
            <name>complianceImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>rc_compliance</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>250px</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>checkboxGroup</name>
            <choiceReferences>RunDataMaskComplianceCheck</choiceReferences>
            <choiceReferences>ClearAllComplianceReports</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose an action</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cleared</name>
        <label>Cleared</label>
        <locationX>789</locationX>
        <locationY>354</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>complianceImage3</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>rc_compliance</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>250px</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>cleared_text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Data Mask compliance reports cleared.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Initiated</name>
        <label>Initiated</label>
        <locationX>791</locationX>
        <locationY>143</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>complianceImage2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>rc_compliance</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>250px</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>intiated_text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Data Mask compliance job initiated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>40</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>Choose_Action</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
